*{
   margin: 0;
   padding: 0;
}
.comon-area{
    max-width: 1200px;
    margin: auto;
}


.nav-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    font-size: large;
    padding: 10px;
}
.navigation-area{
    display: flex;
    gap: 20px;

}
.navigation-area li{
    list-style: none;
    
   
}
.navigation-area a{
    text-decoration: none;
    color: #888888;
    
}
.button-area{
    background-color:#2563EB ;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
/* Nav-area-end */

/* heder-area-star */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imges/banner.jpg);
    height:90vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;

    
}
.header-area-content{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-area-content h2{
    font-size: 70px;
    font-weight: 500;
}
.header-area-content p{
    font-size: 20px;
    text-align: center;
}
.button-coustomize{
    margin-top: 300px;
    padding: 15px 30px;
}
/* header-area-end */
section{
    margin-top: 30px;
}
.spekar-area-head{
    text-align: center;
    padding: 30px;
    font-size: 40px;
    
}
.spekar-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
.card{
    border: 1px solid gray;
    border-radius: 15px;
    overflow: hidden;  
}
.card img{
    width: 100%;
    height: auto;    
}
.card-content{
    margin-left: 20px;
    padding: 10px;
}
.card-content .small-content{
    color: #2563EB;
    font-size: 12px;
    font-weight: 400px;
}
.card-content .secend-card-content{
    color: #888888;
    font-size: 14px;
    font-weight: 500;
}
/* spekar-area-end */